In [3]:
# Basic# Basic import
import os
import sys
import json
import shutil
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
PATH = './record/'

In [6]:
df = pd.DataFrame()
for file in os.listdir(PATH):
    add = pd.read_csv(PATH + file)
    df = pd.concat([df, add])

In [7]:
df

   Unnamed: 0 round  accuracy size1 size2 size3 layer1_maxpooling
0           0  1620  0.283505    10    11    12                10
1           1  1621  0.283505    10    11    13                10
2           2  1622  0.309278    10    11    14                10
3           3  1623  0.293814    10    11    15                10
4           4  1624  0.293814    10    11    16                10
..        ...   ...       ...   ...   ...   ...               ...
1           1  1615  0.350515     9    35    45                10
2           2  1616  0.293814     9    35    50                10
0           0  1617  0.283505     9    40    45                10
1           1  1618  0.283505     9    40    50                10
0           0  1619  0.350515     9    45    50                10

[2323 rows x 7 columns]

In [8]:
df.to_csv('./res.csv')